<nav>
  <div class="first-part">
    <img src="../../../assets/imagens/navbar/logo.png" alt="Logo" />
    <button class="btnMenu" *ngIf="!btnActive" (click)="showMenu()">
      <fa-icon [icon]="iconMenu"></fa-icon>
    </button>
    <button class="btnClosed" *ngIf="btnActive" (click)="showMenu()">
      <fa-icon [icon]="iconX"></fa-icon>
    </button>
  </div>
  <div *ngIf="btnActive" class="listOptions">
    <ul>
      <li><span class="borderInBtn">Home <fa-icon [icon]="iconHome"></fa-icon></span></li>
      <li><span class="borderInBtn">Articles <fa-icon [icon]="iconProject"></fa-icon></span></li>
      <li><span class="borderInBtn">Projects <fa-icon [icon]="iconArticle"></fa-icon></span></li>
    </ul>
  </div>
</nav>
