nav {
  display: flex;
  flex-direction: column;
}

nav .first-part {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  align-items: center;
}

nav .first-part img {
  width: 64px;
  height: 64px;
  margin-left: 16px;
}

nav .first-part .btnMenu {
  color: black;
  margin-right: 16px;
  font-size: 18px;
}
